---
layout: custom
hero-section:
    title: "Tu boda, tu estilo: Crea la web perfecta en minutos"
    subtitle: "Simplifica la planificación de tu boda con una web personalizada, elegante y funcional"
    button_text: "Descubre cómo puede lucir tu web"
    button_url: "https://demo.webdeboda.es"
    image: "/galeria/landing/hero.png"
    prices:
        title: "Precios"
        pointer_up: "/galeria/landing/pointer-up.svg"
        plans:
            - title: "Plan básico"
              price: "20€"
              description: "Personalización de la demo y hosting en tu propio subdominio (Ej: beaypablo.webdeboda.es)"
              tag:
                text: null
                style: null
              checked: false
            - title: "Plan completo"
              price: "30€"
              description: "Incluye personalización completa de la web y dominio propio durante un año"
              tag:
                text: "Recomendado"
                style: "primary"
              checked: true
        button: 
            text: "Obtener"
            url: "/contacto/"
        link: 
            text: "¿Tienes dudas?"
            link-text: "contáctanos"
            url: "/contacto/"   
how_it_works:
    title: "¿Cómo funciona?"
    description: "Descubre cómo crear la web de vuestra boda en tres sencillos pasos: desde la configuración inicial hasta la personalización completa, y la gestión de invitados y regalos. Nuestro proceso está diseñado para ser intuitivo y agradable, asegurando que vuestra web refleje perfectamente vuestro estilo y necesidades."
    step_name: "Paso"
    steps:
        - title: "Paso 1"
          description: "En este paso nos daréis la información básica para montar una primera versión de vuestra web."
          image: "/galeria/landing/img1.png"
          additional_info:
            text: "Que haremos:"
            list:
                - "Crear vuestro dominio personalizado"
                - "Revisar la web de demo e identificar las secciones que os gustaría incluir"
                - "Identificar el orden de las secciones"
          link_text: "Más información"
          link_url: "/"

        - title: "Paso 2"
          description: "En este paso haremos todas las iteraciones que sean necesarias para que la web quede configurada a vuestro gusto"
          image: "/galeria/landing/img2.png"
          additional_info:
            text: "Para cada sección necesitaremos que nos proporcionéis:"
            list:
                - "Cambios en los textos"
                - "Cambios en las imágenes"
                - "Otros cambios o sugerencias"
          link_text: "Más información"
          link_url: "/"

        - title: "Paso 3"
          description: "Ahora ya solo os tenéis que preocupar de hacer seguimiento de los invitados que se han apuntado o de los regalos que os hayan hecho"
          image: "/galeria/landing/img3.png"
          additional_info:
            text: "¿Como lo haremos?:"
            list:
                - "Os daremos acceso a un excel de seguimiento de invitados"
                - "Podréis cambiar sobre la marcha información relevante para vuestros invitados como:"
                - "Hoteles"
                - "Lista de regalos"
                - "Peluquerías"
                - "Otros lugares de interés"
          link_text: "Más información"
          link_url: "/contacto/"
---
<!-- Hero -->
<div class="overflow-hidden mt-5">
    <div class="container content-space-t-1 content-space-t-lg-2">
        <div class="row justify-content-center align-items-lg-center">
            <div class="col-lg-7 mb-7 mb-sm-10 mb-lg-0">
                <div class="pe-lg-5">
                    <div class="mb-4">
                        <h1 class="display-4">{{ page.hero-section.title }}</h1>
                        <p class="fs-3">{{ page.hero-section.subtitle }}</p>
                    </div>
                    <div class="mb-7">
                        <a class="btn btn-primary btn-pointer" href="{{ page.hero-section.button_url }}">{{ page.hero-section.button_text }}</a>
                    </div>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-9 col-lg-5">
                <div class="position-relative">
                    <!-- Card -->
                    <div class="card card-shadow mb-3">
                        <div class="card-body">
                            <div class="text-center mb-5">
                                <h4 class="card-title">{{ page.hero-section.prices.title }}</h4>
                            </div>

                            <!-- List -->
                            <ul class="list-unstyled list-py-1">
                                {% for plan in page.hero-section.prices.plans %}
                                <li>
                                    <!-- Radio Check -->
                                    <label class="form-check form-check-reverse form-check-select form-check-pinned-top-end">
                                        <input type="radio" class="form-check-input" name="formCheckSelect" {% if plan.checked %}checked{% endif %} aria-label="Radio checkbox" {% if plan.tag.text %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ plan.tag.text }}"{% endif %} id="plan{{ forloop.index }}">
                                        <span class="form-check-label">
                                            <span class="fw-medium">{{ plan.title }} <span class="badge bg-soft-primary text-{{ plan.tag.style }} rounded-pill">{{ plan.tag.text }}</span></span>
                                            <span class="d-block h4 mb-0">{{ plan.price }}</span>
                                            <span class="d-block fs-6 text-muted">{{ plan.description }}</span>
                                        </span>
                                        <span class="form-check-stretched-bg"></span>
                                    </label>
                                    <!-- End Radio Check -->
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- End List -->
                            <div class="d-grid">
                                <button type="button" class="btn btn-primary" href="{{ page.hero-section.prices.button.url }}">{{ page.hero-section.prices.button.text }}</button>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->

                    <!-- SVG Shape -->
                    <figure class="position-absolute top-0 end-0 zi-n1 d-none d-sm-block me-n10" style="width: 4rem;">
                        <img class="img-fluid" src="{{ page.hero-section.prices.pointer_up | relative_url }}" alt="Acceder">
                    </figure>
                    <!-- End SVG Shape -->
                </div>

                <div class="text-center">
                    <p class="fs-5 text-muted">{{ page.hero-section.prices.link.text }} <a class="link link-pointer" href="{{ page.hero-section.prices.link.url }}">{{ page.hero-section.prices.link.link-text }}</a></p>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Hero -->

<!-- Heading -->
<div class="container content-space-t-2 content-space-t-lg-3 content-space-b-1">
    <div class="w-lg-65 text-center mx-lg-auto">
        <h2>{{ page.how_it_works.title }}</h2>
        <p>{{ page.how_it_works.description }}</p>
    </div>
</div>
<!-- End Heading -->

<!-- Step Features -->
<div class="container mb-10">
    <!-- List Step -->
    <ul class="list-unstyled list-step list-py-3 mb-0">
        {% for step in page.how_it_works.steps %}
        <li class="list-step-item">
            <div class="position-relative rounded-3 py-10 px-4 px-md-10">
                <div class="row align-items-lg-center">
                    <div class="col-lg-5 mb-7 mb-lg-0">
                        <div class="pe-5">
                            <div class="mb-5">
                                <span class="text-cap text-primary">{{ page.how_it_works.step_name }} {{ forloop.index }}</span>
                                <h2>{{ step.title }}</h2>
                                <p>{{ step.description }}</p>
                            </div>

                            <h5>{{ step.additional_info.text }}</h5>

                            <!-- List Checked -->
                            <ul class="list-checked list-checked-primary mb-7">
                                {% for item in step.additional_info.list %}
                                <li class="list-checked-item">{{ item }}</li>
                                {% endfor %}
                            </ul>
                            <!-- End List Checked -->

                            <a class="link link-pointer" href="{{ step.link_url }}">{{ step.link_text }}</a>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-lg-7">
                        <img class="img-fluid" src="{{ step.image | relative_url }}" alt="{{ step.title }}">
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->

                <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5"></div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- End List Step -->
</div>
<!-- End Step Features -->

<!-- ========== END MAIN CONTENT ========== -->