<div class="container py-1">
      
      <!-- End Row -->    
      <div class="border-bottom border-white-10">
        <div class="row my-5">
          <div class="col-12 col-md-6">
            <img class="navbar-brand-logo my-5" src="{{ '/galeria/Logo-dark.png' | relative_url }}" alt="webdeboda.es">
            <p class="fw-medium text-white-70 mb-0">13 de Septiembre del 2025</p>
            <p class="fw-medium text-white-70 mb-0">Pazo de san Lorenzo, Santiago de Compostela</p>
            <div class="col-md-auto py-6">
              <div class="d-grid d-sm-flex gap-3">
                <a class="btn btn-primary" href="/paginas/formulario-registro.html">Obtener</a>
                <a class="btn btn-ghost-light btn-pointer" href="#lista-hoteles">Ver demo</a>
              </div>
            </div>
          </div>
          <!-- End Col -->
    
          <div class="col-12 col-md-6">
            <!-- Sliding Image -->
            <div class="sliding-img mb-3 rounded-3">
              <div class="sliding-img-frame-vertical" style="background-image: url(/galeria/demo.webdeboda.es_4.png)"></div>
            </div>
            <!-- End Sliding Image -->
          </div>
          <!-- End Col -->
    
        </div>
        <!-- End Row -->
      </div>
      <!-- End Row -->
    </div>