<div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
    <!-- Default Logo -->
    <a class="navbar-brand" href="{{ '/' | relative_url }}" aria-label="webdeboda.es">
        <img class="navbar-brand-logo" src="{{ '/galeria/Logo.png' | relative_url }}" alt="webdeboda.es">
    </a>
    <!-- End Default Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
        <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
        <i class="bi-x"></i>
        </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-pills">

        <!-- Log in -->
        <li class="nav-item ms-lg-auto">
            <a class="btn btn-ghost-dark me-2 me-lg-0" href="./page-login.html">Ver demo</a>
            <a class="btn btn-dark d-lg-none" href="./page-signup.html">Obtener</a>
        </li>
        <!-- End Log in -->

        <!-- Sign up -->
        <li class="nav-item">
            <a class="btn btn-dark d-none d-lg-inline-block" href="./page-signup.html">Obtener</a>
        </li>
        <!-- End Sign up -->
        </ul>
    </div>
    <!-- End Collapse -->
    </nav>
</div>